<<<<<<< HEAD
@media (max-width: 992px) {
    .menu{
        display: none;
    }
    .burger-menu_button{
        display: block;
    }



    #About-Us{
        height: 1100px;
    }
    #services{
        height: 700px;
    }
    #testimonials{
        height: 2000px;
    }
    #contact-us{
        height: 900px;
    }
=======
@media screen and (max-width: 568px) {
    #AboutMe{
        padding: 0;
    }

        .resume{
            width: 320px;
            height: 767px;
        }
        .media-s{
            height: 250px;
        }

        .codexample {
             width: 300px;
             height: 250px;
        }

        #skill{
            margin-top: 140px;
            padding: 0;
            height: 400px;
        }
>>>>>>> 91842ecb1c01dd2c274cdb9be382040279a9f6f8
}