*,*:before,*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #009999;
}
p{
    color: white;
}
/*################AboutMe#################*/
#AboutMe{
    background: url("../img/80.jpg");
    width: 100%;
    height: 100vh;
    padding: 50px  ;


}
.resume{
    margin: 50px auto;
    width: 800px;
    height: 400px;
    background: #69aec3;
    border-radius: 15px;
    transition: 1s;


}
#AboutMe:hover .resume {
    transform: translateY(10px) rotateY(-15deg);
}

.about{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px 30px ;
    color: white;

}
.title{
    color: white;
    margin-top: 20px;
}
.name, .h3{
    margin-left: 30px;
}.name{
    color: white;
    letter-spacing: 0.1cm;
 }
 .h3{
     font-size: 20px;
     letter-spacing: .2cm;
     color: white;
 }
/*################AboutMe#################*/
/*################skill#################*/
#skill{
    width: 100%;
    height: 700px;
    padding: 30px;
}
.progress-bar-wrapper {
    margin-top: 30px;
}

.progress-bar-wrapper:first-of-type {
    margin-top: 0;
}

.progress-text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: left;
    text-transform: capitalize;
    color: #555555;
}

.progress-bar {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 5px;
    background: #e6e6e6;
    border-radius: 10px;
}

.progress-bar > span {
    display: block;
    width: 40%;
    height: 100%;
    background-color: #0EB57D;
}
.animation{
    border-bottom: 2px solid  ;
    transition: .2s;
}


/*################skill#################*/
/*###############codeExample##################*/
#codeExample{
    width: 100%;
    height: 700px;
    background:#2A17B1;
    padding: 50px;
}
.example{
    padding: 0 100px 0 100px;
}
.codexample{
    width: 770px;
    height: 400px;
}

/*###############codeExample##################*/
